.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
  border-radius: 10px;
}

.landinpageimg {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.second ul p {
  color: blueviolet;
  font-weight: bolder;
  font-size: 24px;
  padding-right: 100px;
}

.second button {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 30px;
  color: blueviolet;
  border: 1px solid blueviolet;
  font-size: 18px;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column; 
  }

  .landinpageimg {
    border-radius: 0;
    max-width: 80%; 
    margin-bottom: 20px; 
  }

  .second button {
    width: 100%; 
  }

  .second ul p {
    font-size: 20px;
    padding-right: 64px;
  }

  .second button {
    font-size: 16px;
    padding-right: 52px;
    width: 245px;
    margin-right: 18px;
  
  }
}

     
 
     @media (min-width: 768px) and (max-width: 1024px) {
    
     
       .second ul p {
         font-size: 22px;
      
       }
     
       .second button {
         font-size: 18px;
       }
     }
     
     /* For screen sizes larger than 1024px (e.g., desktops) */
     @media (min-width: 1024px) {
       .second ul p {
         font-size: 24px;
       }
     
       .second button {
         font-size: 20px;
       }
     }
     