.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

}

.signup-page {
  background-image: url('../assest/Fluid_background_2019_3-1-34.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Use 'no-repeat' instead of 'repeat' */
}

.form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
